
@{
    ViewBag.Title = "Edit FAQ";
}

<input type="hidden" id="SettingId" value="@(ViewData["SettingId"])" />
<input type="hidden" id="Source" value="@(ViewData["Source"])" />

<div style="float:left;width:50%;">
    <div style="margin: 5% 10% 0 10%;float: left;">
        <div id="froala-editor">
            <p></p>
        </div>
        <br />
        <button id="Save">Save</button>
    </div>
</div>

<div style="float:left;width:50%;">
    <div style="margin: 5% 10% 0 10%;float: left;">
        <hr style="color:crimson;" />
        <div id="preview" class="fr-view">
            <p></p>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    @*<script type="text/javascript" src="@(Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"))"></script>*@
    <script type="text/javascript" src="@(Url.Content("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"))"></script>
    <script> $(function () {  }); </script>
    @Scripts.Render("~/bundles/Picol_Admin_EditFaq")
}
