
@{
    ViewBag.Title = "List Formulations";
}

<div id="FormulationGrid" style="width: 100%; height: 500px; float:left;"></div>
<div class="footer">
    <span id="Documentation"><a href="#" target="_blank">Documentation</a></span>
    <button type="button" id="OpenCreateWindow">Create</button>
    <button type="button" id="ExportFormulationGrid">Export</button>
    <span id="FormulationCounter" style="float:right;">Count</span>
</div>

<table id="CreateWindow" class="OverlayInterface">
    <thead>
        <tr>
            <th>
                <label for="Name">Name</label>
            </th>
            <th>
                <label for="Code">Code</label>
            </th>
            <th>
                <label for="Notes">Notes</label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" id="Name" />
            </td>
            <td>
                <input type="text" id="Code" />
            </td>
            <td>
                <input type="text" id="Notes" />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                <button id="Create">Create</button>
            </td>
        </tr>
    </tfoot>
</table>

@section styles
{
    @Styles.Render("~/Content/slickgrid")
}

@section scripts
{
    @Scripts.Render("~/bundles/SlickgridFilter")
    @Scripts.Render("~/bundles/filesaver")
    @Scripts.Render("~/bundles/slickgrid")
    @Scripts.Render("~/bundles/Picol_Formulation_List")
}